/**
 * @name Loly
 * @author Алексей53453
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/48147-loly.html
 * @authorLink https://vsthemes.org/user/%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B953453/
 * @authorId 71002
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 26,26,36;
    --transparencyalpha: 0.2;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.2;
    --memberlistransparency: 0;
    --accentcolor: 184,255,246;
    --background: url("https://vsthemes.org/uploads/posts/2021-12/1639226329_maxresdefault.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}